.flex-h{
    display: flex;
    justify-content: space-between;
    gap: 25rem;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 20px;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.left-h{
    color: white;
    font-weight: 600;
    line-height: 2.2rem;
}

.left-h h3{
    font-size: 3rem;
    text-transform: uppercase;
}

.scores{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem 4rem;
    align-items: center;
    border-radius: 10%;
}

.scores h1{
    font-size: 4rem;
    color: hsl(229, 25%, 31%);
    font-family: 'Barlow Semi Condensed', sans-serif ;
}

.scores h4{
    color: hsl(229, 64%, 46%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

@media(max-width: 870px){
    .flex-h{
        gap: 15rem;
    }

    .left-h{
        line-height: 1.8rem;
    }

    .left-h h3{
        font-size: 2.5rem;
    }

    .scores{
        padding: 1rem 3rem;
    }

    .scores h1{
        font-size: 3.5rem;
    }
}

@media(max-width: 550px){
    .flex-h{
        padding: 1rem 10px;
    }
    .scores{
        padding: 0.5rem 1.5rem;
    }

    .scores h1{
        font-size: 2.5rem;
    }

    .left-h{
        line-height: 1.5rem;
    }
    .flex-h{
        gap: 6rem;
    }

    .left-h h3{
        font-size: 2rem;
    }
}

@media(max-width: 400px){
    .flex-h{
        gap: 5rem;
    }
    .left-h h3{
        font-size: 1.5rem;
    }

    .left-h{
        line-height: 1rem;
    }

    .scores h1{
        font-size: 2rem;
    }

    .scores h4{
        font-size: 0.8rem;
    }
}


@media(max-width: 300px){
    .left-h{
        line-height: 0.9rem;
    }
    .left-h h3{
        font-size: 1.2rem;
    }
    .flex-h{
        gap: 0rem;
        /* padding: 0.5rem 0.1rem; */
    }
    .scores{
        padding: 0.5rem 1rem;
    }
}